

body {
  margin: 0;
  font-family: Georgia;
  font-size: 10px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130px;
  background-color: black;
  font-size: 1.1rem;
  color: white;
  border-top: solid 5px;
  border-color: rgb(0, 0, 200);
}

footer span{
  margin: 0 5rem;
}

@media screen and (max-width: 400px){
  footer span{
    font-size: .9rem;
  }
}
