:root{
  --blue: rgb(0, 0, 200);
  --dark-blue: rgb(0, 0, 100);
  --gray: rgb(50, 50, 50);
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: gray;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 9vh;
  background-color: var(--blue);
}

.nav{
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  justify-content: flex-start;
}

.nav-link{
  height: 100%;
  width: 10%;
}

.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-style: bold;
}

.nav a:last-of-type{
  width: 13%;
  margin-left: auto;
  background-color: var(--dark-blue);
}

.nav-link{
  color: white;
}

a:hover{
  background-color: rgb(50, 50, 50);
}

#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: seashell;
  width: 100%;
  height: 100vh;
  background-color: black;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3{
  margin-top: -.5rem;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

#resume-section{
  height: 100px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-section{
  padding: 2.3rem 2rem;
  text-align: center;
  background-color: seashell;
 }

#project-section h2{
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 750px;
  line-height: 7rem; /*keeps words from touching bottom border*/
  font-size: 2.8rem;
  font-weight: 600;
  color: black;
  border-bottom: solid 2px;
}

#contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 80vh;
}

#contact-section p{
  font-size: 1.2rem;
  color: lightgray;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130px;
  background-color: black;
  font-size: 1.1rem;
  color: white;
  border-top: solid 5px;
  border-color: rgb(0, 0, 200);
}

footer span{
  margin: 0 5rem;
}